* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

#header {
    height: 105;
    background-color: #2C3E50;
}

.navbar .logo {
    font-size: 28px;
    text-transform: uppercase;
}

.navbar {
    color: white;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.list {
    display: flex;
    gap: 20px;
}

.list .list_item {
    list-style: none;
}

.list_item a {
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.list_item a:hover {
    color: #1abc9c;
}

#hero {
    height: 600px;
    background-color: #1abc9c;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}

.main .title {
    font-size: 64px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.image {
    width: 250px;
    height: 250px;
}

.image img {
    width: 100%;
    height: 100%;
}


.main .text {
    font-size: 24px;
    font-family: "Lato", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.portfolio {
    background: #f2f2f2;
    text-align: center;
    padding: 80px 20px;
}

.portfolio h2 {
    font-size: 40px;
    color: #2c3e50;
    margin-bottom: 20px;
}


.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.line {
    width: 120px;
    height: 4px;
    background: #2c3e50;
}

.line {
    width: 100px;
    height: 3px;
    background-color: white;
    margin: 0 10px;
}

.divider i {
    margin: 0 15px;
    font-size: 20px;
    color: #2c3e50;
}



.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.red {
    background: #b84a5b;
}

.teal {
    background: #2fa4ab;
}

.black {
    background: #1a1a1a;
}


.card img {
    width: 150px;
    height: 150px;
}

.blue {
    background: #2c7fb8;
}

.darkblue {
    background: #1f3fb4;
}

.beige {
    background: #c7a992;
}

.about {
    background: #1abc9c;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
}


.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.line {
    width: 120px;
    height: 4px;
    background: white;
}

.divider i {
    margin: 0 15px;
    font-size: 20px;
    color: white;
}


.about-content {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto 40px;
    text-align: left;
}

.about-content p {
    width: 50%;
    font-size: 18px;
    line-height: 1.6;
}

.btn {
    display: inline-block;
    border: 2px solid white;
    padding: 15px 30px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.btn i {
    margin-right: 10px;
}

.btn:hover {
    background: white;
    color: #1abc9c;
}

.contact {
    background: #f2f2f2;
    text-align: center;
    padding: 80px 20px;
}

.contact h2 {
    font-size: 40px;
    color: #2c3e50;
    margin-bottom: 20px;
}


.divider.dark .line {
    background: #2c3e50;
}

.divider.dark i {
    color: #2c3e50;
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 5px;
    margin-bottom: 30px;
    font-size: 18px;
    background: transparent;
    outline: none;
}


.contact-form textarea {
    height: 120px;
    resize: none;
}


.contact-form button {
    background: #1abc9c;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #16a085;
}

.footer {
    background: #2c3e50;
    color: white;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-col {
    flex: 1;
    min-width: 250px;
}

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-col p {
    line-height: 1.6;
}


.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: white;
    color: #2c3e50;
}


.footer-col a {
    color: #1abc9c;
    text-decoration: none;
}


.footer-bottom {
    background: #1a252f;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}